Nand.out
Nand.cmp
Not.out
Not.cmp
And.out
And.cmp
Or.out
Or.cmp
Xor.out
Xor.cmp
Mux.out
Mux.cmp
DMux.out
DMux.cmp
Not16.out
Not16.cmp
And16.out
And16.cmp
Or16.out
Or16.cmp
Mux16.out
Mux16.cmp
Or8Way.out
Or8Way.cmp
Mux4Way16.out
Mux4Way16.cmp
Mux8Way16.out
Mux8Way16.cmp
DMux4Way.out
DMux4Way.cmp
DMux8Way.out
DMux8Way.cmp