Not.out
Not.cmp
Not.tst
And.out
And.cmp
And.tst
Or.out
Or.cmp
Or.tst
Xor.out
Xor.cmp
Xor.tst
Mux.out
Mux.cmp
Mux.tst
DMux.out
DMux.cmp
DMux.tst
Not16.out
Not16.cmp
Not16.tst
And16.out
And16.cmp
And16.tst
Or16.out
Or16.cmp
Or16.tst
Mux16.out
Mux16.cmp
Mux16.tst
Or8Way.out
Or8Way.cmp
Or8Way.tst
Mux4Way16.out
Mux4Way16.cmp
Mux4Way16.tst
Mux8Way16.out
Mux8Way16.cmp
Mux8Way16.tst
DMux4Way.out
DMux4Way.cmp
DMux4Way.tst
DMux8Way.out
DMux8Way.cmp
DMux8Way.tst